@font-face {
  font-family: tetris;
  src: url(../res/font/classic.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: tetris;
}

/*body{
    background: url(../res/background/libre-service.JPG);
    background-size: cover;
}*/

#tetris{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 640px;
    display: grid;
    grid-template-columns: auto 150px 320px 150px auto;
    grid-template-rows: auto;
    grid-template-areas: "L left center right R";
    justify-items: center;
    align-items: center;
    grid-column-gap: 5px;
}

.center{
    grid-area: center;
}

.right{
    grid-area: right;
}

.left{
    grid-area: left;
}

.stack{
    position: absolute;
    top: 0;
}
#tetris_center{
    position: relative;
    height: 640px;
    width: 320px;
    border: 5px solid grey;
}

#tetris_canvas{
    z-index: 0;
}

#tetris_falling{
    z-index: 1;
}

#pause{
    color: white;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: flex;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    visibility: hidden;
}

#restart_btn{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 40px;
    font-size: 25px;
    z-index: 2;
    visibility: hidden;

    background-color: rgba(0,0,0,0);
    color: white;
    border: 2px solid white;
}

#restart_btn:hover{
    background-color: rgba(255,255,255,0.1);
}

#tetris_left{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tetris_left_up{
    background-color: black;
    border: 5px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tetris_left_up > p{
    font-size: 40px;
    color: white;
}

#tetris_left_down > *{
    background-color: black;
    color: white;
    border: 3px solid grey;
    height: 60px;
    padding: 5px;
}

#tetris_left_down > * > *{
    font-size: 20px;
}

#tetris_left_down > * > *:last-child{
    text-align: right;
}

#tetris_left_down > *:last-child > *:last-child{
    font-size: 15px;
}

#tetris_right{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tetris_right_up{
    background-color: black;
    border: 5px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tetris_right_up > p{
    font-size: 40px;
    color: white;
}

#tetris_right_down > *{
    background-color: black;
    color: white;
    border: 3px solid grey;
    height: 60px;
    padding: 5px;
}

#tetris_right_down > * > *{
    font-size: 20px;
}

#tetris_right_down > * > *:last-child{
    text-align: right;
}

#volume{
    z-index: 5;
    position: absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    color: white;
}

#volume_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#volume_slider:hover{
    opacity: 1;
}

#volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

#volume_slider::-moz-range-thumb {
  width: 10px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

#shout{
    color: white;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: flex;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    visibility: hidden;
}

#b2b{
    color: white;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    transform: translateY(-1.5em);

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    visibility: hidden;
}

#legal-notice{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}

#legal-notice p{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#legal-notice img{
    width: 20%;
}

#progress{
    width: 320px;
    text-align: center;
}

#bar{
    width: 1%;
    height: 30px;
    background-color: green;
}

#background_div{
    position: absolute;
    width: 100%;
    height: 100%;
}

#background_div > img{
    position: absolute;
    z-index: -11;
    width: 100%;
    height: 100%;
}
